@model IEnumerable<SISASEPBA.Models.Documentos>

@{
    ViewBag.Title = "Documentos";

}

<style>
    #p1 {
        background-color: darkorange;
        padding-top: 5px;
        border-radius: 15px;
        text-align: center;
        color: whitesmoke
    }

    #p2 {
        background-color: red;
        padding-top: 5px;
        border-radius: 15px;
        text-align: center;
        color: whitesmoke
    }

    #p3 {
        background-color: green;
        padding-top: 5px;
        border-radius: 15px;
        text-align: center;
        color: whitesmoke
    }
</style>

<div class="panel panel-default">
    <div class="panel panel-heading">
        <strong>Catálogo de Documentos</strong>
    </div>
    <div class="panel panel-body">


        <p>
            @Html.ActionLink("Nuevo Documento", "Create", null, new { @class = "btn btn-primary" })
        </p>

        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="tablaDocumento">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdTipoDocumento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TituloDocumento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaRige)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaVence)
                        </th>
                        <th>
                            Vigencia
                        </th>


                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTipoDocumento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TituloDocumento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>

                            <td>
                                @if (item.Estado == "A")
                                {
                                    <p style="color: green">ACTIVO</p>
                                }
                                else if(item.Estado == "I")
                                {
                                    <p style="color: red">INACTIVO</p>
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.FechaRige)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaVence)
                            </td>
                            <td>
                                @{
                                    DateTime FechaActual = DateTime.Now;

                                    if (item.FechaVence.Date < FechaActual.Date)
                                    {
                                        <p id="p2"> @Html.Label("Expirado")</p>
                                    }
                                    else if (item.FechaVence.Date > FechaActual.AddDays(32).Date)
                                    {
                                        <p id="p3"> @Html.Label("Vigente")</p>

                                    }
                                    else if (item.FechaVence.Date == FechaActual.Date)
                                    {
                                        <p id="p1"> @Html.Label("Por Expirar")</p>
                                    }
                                    else
                                    {
                                        <p id="p1"> @Html.Label("Por Expirar")</p>
                                    }
                                }

                            </td>



                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdDocumento }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //var rowsSelected = [];
            $('#tablaDocumento').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }

                }

            });
        });
    </script>
}