<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASEPBA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ASEPBA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        if (Context.User.IsInRole("SIST_ADMINISTRACION"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Administración
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    @if (Context.User.IsInRole("SIST_ADMIN_CAPACITACIONES"))
                                    {
                                        <li>@Html.ActionLink("Capacitaciones", "Index", "Capacitaciones")</li>
                                    }

                                    @if (Context.User.IsInRole("SIST_ADMIN_VACACIONES"))
                                    {
                                        <li>@Html.ActionLink("Control vacacional", "Index", "ControlVacacional")</li>
                                    }

                                    @if (Context.User.IsInRole("SIST_ADMIN_DEPARTAMENTOS"))
                                    {
                                        <li>@Html.ActionLink("Departamentos", "Index", "Departamentos")</li>
                                    }


                                    @if (Context.User.IsInRole("SIST_ADMIN_EMPLEADO"))
                                    {
                                        <li>@Html.ActionLink("Empleados", "Index", "Empleados")</li>
                                    }

                                    @if (Context.User.IsInRole("SIST_ADMIN_LICENCIAS"))
                                    {
                                        <li>@Html.ActionLink("Licencias de empleado", "Index", "EmpleadoLicencias")</li>
                                    }

                                    @*@if (Context.User.IsInRole("SIST_ADMIN_NOMINAS"))
                                        {
                                            <li>@Html.ActionLink("Nominas", "Index", "Nominas")</li>
                                        }*@

                                    @if (Context.User.IsInRole("SIST_ADMIN_PUESTOS"))
                                    {
                                        <li>@Html.ActionLink("Puestos", "Index", "Puestos")</li>
                                    }

                                    @if (Context.User.IsInRole("SIST_ADMIN_USUARIOS"))
                                    {
                                        <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                    }


                                </ul>
                            </li>
                        }

                        if (Context.User.IsInRole("SIST_PROCESOS"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Procesos
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    @if (Context.User.IsInRole("SIST_PROC_AP"))
                                        {
                                            <li>@Html.ActionLink("Acciones de Personal", "Index", "AccionesDePersonal")</li>
                                        }

                                        @if (Context.User.IsInRole("SIST_PROC_NOMINAS"))
                                        {
                                            <li>@Html.ActionLink("Nominas", "Index", "Nominas")</li>
                                        }

                                        @if (Context.User.IsInRole("SIST_PROC_CONCEPTOS"))
                                        {
                                            <li>@Html.ActionLink("Conceptos", "Index", "Conceptos")</li>
                                        }

                                        @if (Context.User.IsInRole("SIST_PROC_CONC_NOMINA"))
                                        {
                                            <li>@Html.ActionLink("Conceptos por nómina de empleados ", "Index", "EmpleadoConceptoNomina")</li>
                                        }

                                        @if (Context.User.IsInRole("SIST_PROC_CONC_EMPLEADO"))
                                        {
                                            <li>@Html.ActionLink("Conceptos de empleados ", "Index", "EmpleadoConcepto")</li>
                                        }

                                        @if (Context.User.IsInRole("SIST_PROC_EMP_CONC_LIQ"))
                                        {
                                            <li>@Html.ActionLink("EmpleadoConceptoLiquidacion", "Index", "EmpleadoConceptoLiquidacion")</li>
                                        }

                                        @if (Context.User.IsInRole("SIST_PROC_CONC_LIQ"))
                                        {
                                            <li>@Html.ActionLink("Concepto Liquidacion", "IndexConceptoLiquidacion", "Conceptos")</li>
                                        }

                                        @if (Context.User.IsInRole("SIST_PROC_CONC_FORMULA"))
                                        {
                                            <li>@Html.ActionLink("Concepto Formula", "IndexConceptoFormula", "Conceptos")</li>
                                        }

                                        @if (Context.User.IsInRole("SIST_PROC_HISTORICOS"))
                                        {
                                            <li>@Html.ActionLink("Historicos de nomina", "Index", "NominasHistorico")</li>
                                        }




                                </ul>
                            </li>
                        }

                        if (Context.User.IsInRole("SIST_CONVENIOS"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Convenios
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (Context.User.IsInRole("SIST_CONV_CARTAS"))
                                    {
                                        <li>@Html.ActionLink("Cartas", "Index", "Cartas")</li>
                                    }

                                    @if (Context.User.IsInRole("SIST_CONV_ORDENES"))
                                    {
                                        <li>@Html.ActionLink("Ordenes de compra", "Index", "OrdenesDeCompra")</li>
                                    }

                                    @if (Context.User.IsInRole("SIST_CONV_PROVEEDORES"))
                                    {
                                        <li>@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                                    }

                                    @if (Context.User.IsInRole("SIST_CONV_SOCIOS"))
                                    {
                                        <li>@Html.ActionLink("Socios", "Index", "Socios")</li>
                                    }

                                </ul>
                            </li>
                        }

                        if (Context.User.IsInRole("SIST_ADMIN_DOCUMENTOS"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Control de documentos
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (Context.User.IsInRole("SIST_DOC_DOCS"))
                                    {
                                        <li>@Html.ActionLink("Documentos", "Index", "Documentos")</li>
                                    }


                                </ul>
                            </li>
                        }

                        if (Context.User.IsInRole("SIST_ROLES"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Privilegios
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (Context.User.IsInRole("SIST_ROLES_PRIVILEGIOS"))
                                    {
                                        <li>@Html.ActionLink("Privilegios", "Index", "Privilegios")</li>
                                    }

                                    @if (Context.User.IsInRole("SIST_ROLES_GRUPOS"))
                                    {
                                        <li>@Html.ActionLink("Grupos", "Index", "Grupos")</li>
                                    }


                                </ul>
                            </li>
                        }

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Sistema Gestión de Planillas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
</body>
</html>
